#main_heading{
    text-align: center;
    margin-top:30px;
    font-family: 'Shalimar', cursive;
    font-size: 50px;
    color: #caac78;
    display: inline;
}

#nav_bar{
    list-style-type: none;
    text-align: center;
    display: inline;
    display: inline-block;
    
}

#nav_bar li{
    display: inline;
    margin: 10px;
    color: white;
    font-family: 'Playfair Display', serif;
    letter-spacing: 2px;

}

#container1{
    width: 50%;
    border-radius: 15px;
    background-color: aqua;
    margin: 40 auto;
    text-align: center;
    background: rgba(255, 255, 255, 0.09);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    border: 1px solid rgba(255, 255, 255, 0.23);
    position: sticky;
    top:0;
    z-index: 1;
}

#top_section{
height: 700px;
width : 100%;
background-color: #12343e;
position: absolute;
top: 0;
left:0;
}

#top_section_img{
    height: 450px;
    width : 300px;
    position: relative;
    left: 65%;
    border-radius:10px;
    border-color: aliceblue;
    border-style: solid;
    border-width: 2px;
}

.top_section_question{
   color: white;
   position: relative;
   left: 150px;
   bottom: 60%;
   margin-left: 150px;
   height:500px;
   width: 500px;
}
#top_question_answer{
 color: white;
 line-height: 1.5;
 font-size :20px;
}

.mid_section{
    align-items: center;
    text-align: center;
}