#main_heading{
    text-align: center;
    margin-top:30px;
    font-family: 'Shalimar', cursive;
    font-size: 50px;
    color: #caac78;
    display: inline;
}

#nav_bar{
    list-style-type: none;
    text-align: center;
    display: inline;
}

#nav_bar li{
    display: inline;
    margin: 10px;
}

#container1{
    background-color: #f2f2f2;
    margin-top: 30px;
    margin: 50px;
    
}

